{% extends 'base.html' %}

{% block content %}
<html>
{% load staticfiles %}
<head>
    <style>
      h2
       {

         color:blue;
       }
    </style>
</head>
<body>
<div class="container-fluid">
    <h2>Journey to TAJ Pandoras</h2>
    <img src="{% static 'image/hotel5.png' %}" alt="No Image" width="367px" height="210px">&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="{% static 'image/hotel4.jpg' %}" alt="No Image" width="367px" height="210px">&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="{% static 'image/hotel2.jpg' %}" alt="No Image" width="367px" height="210px"><br/><br/>
    <img src="{% static 'image/hotel1.jpg' %}" alt="No Image" width="367px" height="210px">&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="{% static 'image/hotel7.jpg' %}" alt="No Image" width="367px" height="210px">&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="{% static 'image/hotel8.jpg' %}" alt="No Image" width="367px" height="210px"><br/><br/>
    <img src="{% static 'image/hotel9.jpg' %}" alt="No Image" width="367px" height="210px">&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="{% static 'image/hotel10.jpg' %}" alt="No Image" width="367px" height="210px">&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="{% static 'image/hotel512.jpg' %}" alt="No Image" width="367px" height="210px"><br/><br/>
    <img src="{% static 'image/hotel13.jpg' %}" alt="No Image" width="367px" height="210px">&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="{% static 'image/hotel14.jpg' %}" alt="No Image" width="367px" height="210px">&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="{% static 'image/hotel511.jpg' %}" alt="No Image" width="367px" height="210px"><br/><br/>
    <img src="{% static 'image/hotel20.jpg' %}" alt="No Image" width="367px" height="210px">&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="{% static 'image/hotel17.jpg' %}" alt="No Image" width="367px" height="210px">&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="{% static 'image/hotel18.jpg' %}" alt="No Image" width="367px" height="210px">



</div>
</body>
{% endblock %}
</html>
