{% extends 'base.html' %}

{% block content %}
<html>
{% load staticfiles %}
<head>
    <style>
    h2
      {
        text-decoration:underline;
      }

</style>
</head>
<body>
<div class="container-fluid">
<h1>Welcome to TAJ PALACE </h1>
<img src="{% static 'image/hotel6.jpg' %}" alt="Sorry no image" width="1200px" height="300px"><br/>
<h4>Taj is a chain of luxury hotels and a subsidiary of the Indian Hotels Company
    Limited - headquartered at Express Towers, Nariman Point in Mumbai. Incorporated
    by the founder of the Tata Group, Jamsetji Tata, in 1903, the company is a part
    of the Tata Group, one of India's largest business conglomerates.</h4>

    <h2>History</h2>
    <h4>In 1974, the group opened India's first international five star deluxe beach resort,
         the Fort Aguada Beach Resort in Goa. In 1970s, the Taj Group also began its business
         in metropolitan hotels, opening the five-star deluxe hotel, Taj Coromandel in Chennai,
         in 1974, acquiring an equity interest and operating contract for the Taj President
         (now Vivanta by Taj - President), a business hotel in Mumbai, in 1977, and also opening
         the Taj Mahal Hotel in Delhi in 1978.
         The group has been converting royal palaces in India into luxury hotels since the 1970s.
         The first palace to be converted into a Taj luxury hotel was the Lake Palace in Udaipur,
         in 1971. Other examples include the Rambagh Palace in Jaipur, Umaid Bhawan Palace in Jodhpur,
         Falaknuma Palace in Hyderabad and Nadesar Palace in Varanasi.
         Concurrently with the expansion of its luxury hotel chain in the major metropolitan cities,
         the Taj Group also expanded its business hotels division in the major metropolitan and large
         secondary cities in India. During the 1990s, the Taj Group continued to expand its geographic
         and market coverage in India. It developed specialized operations (such as wildlife lodges)
         and consolidated its position in established markets through the upgrading of existing properties
         and development of new properties. Taj also set up the Taj Kerala Hotels and Resorts Limited
         in the early 1990s along with the Kerala Tourism Development Corporation. Ten hotels of the
         Taj group are members of the Leading Hotels of the World..</h4>

    <h2>Notable hotels</h2>
    <h4>Two hotels of the Taj group, namely Rambagh Palace in Jaipur and the Taj Mahal Palace
        & Tower in Mumbai, were ranked in 2013 by Condé Nast Traveler among its "Top 100 Hotels
        and Resorts in the World".[12] In late 2013, the Indian Traveller magazine ranked Taj
        Lake Palace in Udaipur and Taj Exotica Resort & Spa in Maldives as numbers 34 and 98,
        respectively, on its list of "100 Best Hotels & Resorts".[13] Condé Nast Traveler also
        ranked the Taj Mahal Palace in Mumbai as number 13 on its list of "Gold Standard Hotels"
        in 2014.[14] In 2005, a famous luxury hotel in New York city, The Pierre was acquired.
    </h4>


</div>
</body>
{% endblock %}
</html>